/* Default Settings */

* {
  font-family: 'Trebuchet MS', sans-serif;
  color: black;
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-align: center;
	text-decoration: none;
	color: black;
}

li {
	font-size: 1.5em;
	margin: 10px;
	color: #000;
}

body {
	background-image: linear-gradient(#48D1CC, #6495ED);
}

/* Header */

header {
	background-color: #FFF5EE;
}

#header-nav {
  background-color: #48D1CC;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#home-button {
	color: white;
}

/* Drop-Down Menu */

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: white;
  text-align: center;
}

#nav-list a:hover {
  background: #4169E1;
}

#nav-list a span {
  font-size: 1.8em;
}


/* Introduction */

/* Jumbotron */

#h1-text {
	font-style: italic;
	text-decoration: underline;
}

#image {
	height: 850px;
	background-image: url("https://images.pexels.com/photos/16145817/pexels-photo-16145817/free-photo-of-sea-landscape-beach-water.jpeg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.9;
}

#intro-text {
	color: #FFFFFF;
	border-radius: 10%;
	border: 2px solid black;
	background-image: linear-gradient(#ADD8E6, #4169E1);
	opacity: 0.7;
	margin-top: 25px;
}

.intro-image {
	background-image: url('../images/samvit.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	opacity: 0.5;
	border: 5px solid black;
	margin-top: 25px;
	border-radius: 10%;
	height: 500px;
}

.intro-image:hover {
	opacity: 1.0;
}

#intro-text:hover {
	opacity: 1.0;
}

#intro-text-title {
	margin-bottom: 30px;
}

/* Skill Tiles */

#image2 {
	background-image: url("https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.9;
}

#skill-tile1, #skill-tile2, #skill-tile3, #skill-tile4, #skill-tile5, #skill-tile6  {
	height: 300px;
	border: 1px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 10%;
}

#skill-tile1:hover, #skill-tile2:hover, #skill-tile3:hover, #skill-tile4:hover, #skill-tile5:hover, #skill-tile6:hover {
	opacity: 1.0;
	border: 3px solid black;
}

#skill-tile1 {
	background-image: url("https://images.pexels.com/photos/5926378/pexels-photo-5926378.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;
}

#skill-tile2 {
	background-image: url("https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;
}

#skill-tile3 {
	background-image: url("https://images.pexels.com/photos/6424590/pexels-photo-6424590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;	
}

#skill-tile4 {
	background-image: url("https://images.pexels.com/photos/6929185/pexels-photo-6929185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;	
}

#skill-tile5 {
	background-image: url("https://images.pexels.com/photos/5767580/pexels-photo-5767580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;		
}

#skill-tile6 {
	background-image: url("https://images.pexels.com/photos/462510/pexels-photo-462510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;
}

#top-link {
	text-decoration: none;
	color: black;
}

.header-text {
	float: left;
	font-size: 1.5em;
	margin: 10px;
}

.skill-text1, .skill-text2 {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color: white;
}

.skill-text1:hover, .skill-text2:hover {
	text-decoration: none;
}

/* Footer */

footer {
	background-color: #FFF5EE;
	border: 2px solid black;
}

#contact-info > span {
	font-size: 1.25em;
	font-style: italic;
}

#socials > span {
	font-size: 1.25em;
	font-style: italic;
}

#navigation-footer > span {
	font-size: 1.25em;
	font-style: italic;
}

#copyright {
	margin-top: 25px;
	font-size: 1.25em;
	font-style: italic;
}

#footer-section-title {
	margin-bottom: 25px;
}

/* Blog Styles */

#image5 {
	background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.9;
}

#blog-title {
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 25px;
}

.blog-text {
	font-size: 1.25em;
	font-style: italic;
	margin-bottom: 25px;
}

/* Experience Styles */

#image3 {
	background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.9;
}

#experience-element1, #experience-element2, #experience-element3, #experience-element4, #experience-element5, #experience-element6 {
	padding: 5px;
	margin-bottom: 25px;
	border: 2px solid black;
	border-radius: 15%;
}

#experience-element1:hover, #experience-element2:hover, #experience-element3:hover, #experience-element4:hover, #experience-element5:hover, #experience-element6:hover {
	opacity: 1.0;
}

#experience-element1 {
	background-image: url("https://images.pexels.com/photos/5926378/pexels-photo-5926378.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;
}

#experience-element2 {
	background-image: url("https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;
}

#experience-element3 {
	background-image: url("https://images.pexels.com/photos/6424590/pexels-photo-6424590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;	
}

#experience-element4 {
	background-image: url("https://images.pexels.com/photos/6929185/pexels-photo-6929185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;	
}

#experience-element5 {
	background-image: url("https://images.pexels.com/photos/5767580/pexels-photo-5767580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;		
}

#experience-element6 {
	background-image: url("https://images.pexels.com/photos/462510/pexels-photo-462510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.7;
}

#experience-title {
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 25px;
	color: white;
}

#experience-description {
	font-size: 1.25em;
	font-style: bold;
	margin-bottom: 10px;
	color: white;
}

.experience-category-description > #experience-description {
	opacity: 0.95;
}

.experience-description:hover {
	text-decoration: none;

}

/* Other Links */

.coursera-hyperlink {
	font-style: italic;
	font-weight: bold;
	color: white;
}

.coursera-hyperlink:hover {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: white;
}

#other-links-title {
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#image4 {
	background-image: url("https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.9;
}

embed {
	margin-bottom: 10px;
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 992px) {
	#image {
		height: 1150px;
	}

	.intro-image {
		height: 450px;
	}

}

@media (max-width: 768px) {

	#image {
		height: 1350px;
	}

	.intro-image {
		height: 350px;
	}

	.navbar-brand {
	    padding-top: 10px;
	    height: 80px;
	 }

	.navbar-brand h1 { /* Restaurant name */
	    padding-top: 10px;
	    font-size: 5vw; /* 1vw = 1% of viewport width */
  	}

}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

 @media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 6vw;